    .matrix-table {
    border-collapse: collapse;
    border: 2px solid rgb(31, 97, 141);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  .matrix-td, .matrix-th {
    border: 2px solid rgb(31, 97, 141);
    padding: 10px 20px;
  }
  
  .matrix-th {
    background-color: rgb(253,254,254);
  }
  
  .matrix-td {
    text-align: center;
  }
  
  /* tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: #fff;
  } */
  
  caption {
    padding: 10px;
  }

  .matrix {
    padding: 5px;
  }

  .start_button{
    background-color: #2874A6;
    color: #fff;
  }